repos:
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy local (via poetry)
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: true
        args: ["--ignore-missing-imports"]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        args: ["--line-length=120"]

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-unused-variables",
            "--remove-all-unused-imports",
            "--remove-duplicate-keys",
            "--ignore-init-module-import",
          ]
